*{
    padding:0;
    margin :0;
}

body{
    background-color:#e8f2fc;
}

.container{
    width:100%;
    display:grid;
    grid-template-columns: 19% 80%;
    column-gap:10px;
}
.flex-name{
    display:flex;
    justify-content:space-between;
    padding-inline:10px;
    padding-block:20px
}
.nav-content{
    /* padding-inline:10px; */
}

#style-name{
    color:#5a78e3;
}
#style-icon{
    background-color:#e7ebff;
    padding:10px;
    box-shadow:.1px .1px .5px ;
}
#txt-gray{
    color:gray;
    font-size:18px;
    margin-left:10px;
}
#nav-list{
    display:flex;
    flex-direction:column;
    row-gap:20px;
    margin-block:8px;
}
#list{
    display:flex;
    align-items:center;
    column-gap:15px;
    padding-inline:10px;
    cursor:pointer;
}
.bg-highlight{
    background-color:#cedff0;
    padding-block:10px;
    border-radius:10px;
}
#logout-content{
    margin-top:80px;
}

.blog-container{
    background-color:white;
    padding-block:15px;
    padding-inline:25px
}
.flex-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#para{
    width:60%;
    letter-space:1px;
    margin-top:10px
}
#profile-flex{
    display:flex;
    column-gap:28px;
}
#sear-icon,#notf-icon{
    background-color:white;
    border:1px solid #dee3e0;
    border-radius:100%;
    padding:5px; 
}
#profile-image{
    border-radius:100%;
    border:1px solid #dee3e0;
}
#txt-blod{
    font-weight:bold;
}
#message-content{
    background-color:#eae9ed;
    width:20px;
    padding:2px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50px;
    color:gray;
    font-size:10px;
}
#seeall-btn{
    padding-block:8px;
    padding-inline:12px;
    border:none;
    border-radius:50px;
    background-color:#e7edfe;
    font-size:14px;
    display:flex;
    justify-centent:center;
    column-gap:5px;
    cursor:pointer;
}
.Categories-container{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
    align-items:center;
}
.card{
     padding:10px;
     padding-inline:20px;
     background-color:white;
     box-shadow:1px 1px 1px gray;
    border-radius:10px

}
.Categories-card{
    width:85%;
    margin-inline:auto;
    display:grid;
    grid-template-columns:28% 28% 28%;
    justify-content:space-around;
    margin-top:25px
}